<div
  class="w-full h-screen flex flex-col items-center justify-center text-white p-4"
>
  <img
    src="profile.jpg"
    alt="Avatar"
    class="w-52 h-52 rounded-full border-4 border-[#443C68] shadow-lg object-cover"
  />
  <h1 class="mt-6 text-5xl font-bold text-center text-[#a797dd]">
    Hey, I'm Abhijeet Bhardwaj
  </h1>
  <h2 class="mt-5 text-2xl text-[#635985] w-full md:w-1/2 text-center">
    Experienced Full-Stack End Developer with 4 Years of Mobile App Developement
    Experience, 2 Years of Backend Developement
  </h2>
  <a
    href="https://github.com/abhijeet-Bh/portfolio/blob/main/public/Resume-AbhijeetBh-v3.pdf"
    class="mt-10 px-6 py-3 border-2 border-[#FFCF9D] text-[#FFCF9D] rounded-full font-semibold transition duration-300 hover:bg-[#FFB38E] hover:text-white slide-in"
  >
    Download Resume
  </a>
</div>
