<div class="flex flex-col mt-24 items-center mb-16">
  <p class="uppercase text-xl font-bold mb-6 tracking-22p">Little More About Me</p>
  <div class="w-full mt-8 sm:space-x-4 flex flex-col sm:flex-row justify-center px-5">
    <div class="flex flex-col mb-4 sm:w-[590px] space-y-4">
      <div class="p-4 bg-secondaryBlueDark bg-opacity-50 flex justify-between">
        <div class="max-w-64 sm:max-w-full">
          <h3 class="text-accentColor font-semibold">B.TECH. IN COMPUTER SCIENCE & ENGINEERING</h3>
          <p class="text-sm text-gray-400">Vellore Institute Of Technology, Vellore, Tamil Nadu</p>
          <p class="text-sm text-gray-400">2021 - 2025</p>
        </div>
        <p class="text-xs self-end"><span class="text-accentColor font-bold text-xl">8.13</span>/10 CGPA</p>
      </div>

      <div class="p-4 bg-secondaryBlueDark bg-opacity-50 flex justify-between">
        <div class="max-w-64 sm:max-w-full">
          <h3 class="text-accentColor font-semibold">Intermediate (XII) - CBSE</h3>
          <p class="text-sm text-gray-400">DAV Public School -  Hazaribagh, Jharkhand</p>
          <p class="text-sm text-gray-400">Physic, Chemistry & Mathematics</p>
        </div>
        <p class="text-base self-end"><span class="text-accentColor font-bold text-2xl">78.4%</span></p>
      </div>

      <div class="p-4 bg-secondaryBlueDark bg-opacity-50 flex justify-between">
        <div class="max-w-64 sm:max-w-full">
          <h3 class="text-accentColor font-semibold">Matriculation (X) - ICSE</h3>
          <p class="text-sm text-gray-400">Don Bosco Academy - Ranchi, Jharkhand</p>
          <p class="text-sm text-gray-400">Science with Mathematics</p>
        </div>
        <p class="text-base self-end"><span class="text-accentColor font-bold text-2xl">87.6%</span></p>
      </div>
    </div>
    <div class="flex flex-col mb-4 sm:w-[590px] space-y-4">
      <div class="p-4 bg-secondaryBlueDark bg-opacity-50 flex justify-between">
        <div class="max-w-64 sm:max-w-full">
          <h3 class="text-accentColor font-semibold">Mobile Application Developer - Intern</h3>
          <p class="text-sm text-gray-400">Together - (Creatonomy Pvt. Ltd.), Bangalore, Karnataka</p>
          <p class="text-sm text-gray-400">Dec 2023 - Feb 2024</p>
        </div>
        <img src="flutter-icon.svg" alt="Logo" class="pl-2 sm:w-[60px] w-12"/>
      </div>

      <div class="p-4 bg-secondaryBlueDark bg-opacity-50 flex justify-between">
        <div class="max-w-64 sm:max-w-full">
          <h3 class="text-accentColor font-semibold">Backend developer - Intern</h3>
          <p class="text-sm text-gray-400">Gloroots Pvt. Ltd., Bangalore, Karnataka</p>
          <p class="text-sm text-gray-400">Jun 2022 - Jul 2022</p>
        </div>
        <img src="django-icon.svg" alt="Logo" class="pl-2 sm:w-[50px] w-10"/>
      </div>

      <div class="p-4 bg-secondaryBlueDark bg-opacity-50 flex justify-between">
        <div class="max-w-64 sm:max-w-full">
          <h3 class="text-accentColor font-semibold">Mobile Application Developer (Inner Core Member)</h3>
          <p class="text-sm text-gray-400">Google Developers Students Club (GDSC VIT)</p>
          <p class="text-sm text-gray-400">June 2021 - Present</p>
        </div>
        <img src="gdsc-icon.svg" alt="Logo" class="pl-2 sm:w-[60px] w-10"/>
      </div>
    </div>
  </div>
</div>

