<header class="bg-primaryBlueDark fixed w-full py-4 h-5 text-white flex justify-between items-center px-10 py-8">
  <!-- Logo -->
  <div>
    <img src="logo-ab.svg" alt="Logo" class="h-8 sm:h-10"/>
  </div>

  <!-- Navigation Links -->
  <nav class="space-x-3 text-sm font-medium sm:space-x-6 sm:text-[20px]">
    <a href="https://www.linkedin.com/in/abhijeet-bh/" class="text-primaryBlueLight" >LinkedIn</a>
    <a href="https://github.com/abhijeet-Bh" class="text-primaryBlueLight">GitHub</a>
    <a href="https://leetcode.com/u/abhijeetBh/" class="text-primaryBlueLight">LeetCode</a>
  </nav>
</header>
