<header class="bg-primaryBlueDark z-50 fixed w-full h-5 text-white flex justify-between items-center sm:px-24 px-8 py-10">
  <!-- Logo -->
  <div>
    <img src="logo-ab.svg" alt="Logo" class="h-8 sm:h-10"/>
  </div>

  <!-- Navigation Links -->
  <nav class="space-x-3 text-sm font-medium sm:space-x-6 sm:text-[20px]">
    <a href="https://www.linkedin.com/in/abhijeet-bh/" class="text-primaryBlueLight hover:text-accentColor transition-all duration-200" >LinkedIn</a>
    <a href="https://github.com/abhijeet-Bh" class="text-primaryBlueLight hover:text-accentColor transition-all duration-200">GitHub</a>
    <a href="https://codolio.com/profile/abhijeetBh" class="text-primaryBlueLight hover:text-accentColor transition-all duration-200">Codolio</a>
  </nav>
</header>
