<section id="projects" class="py-20 bg-gradient-to-br bg-[#635985]">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold text-center text-white mb-12">My Projects</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <div
        class="bg-white rounded-lg shadow-lg overflow-hidden transform transition-transform duration-300 hover:scale-105"
      >
        <img
          src="/hrelix-banner.png"
          alt="E-commerce Platform"
          class="w-full h-auto object-cover"
        />
        <div class="p-4">
          <h3 class="text-xl font-semibold text-[#635985] mb-2">
            E-commerce Platform
          </h3>
          <p class="text-gray-600 mb-4">
            A full-stack e-commerce solution using Spring Boot and Angular.
          </p>
          <!-- Tags for languages and frameworks -->
          <div class="flex space-x-2 mb-4">
            <span
              class="border border-green-500 text-green-500 text-xs px-1 py-0.5 rounded-full"
              >Flutter</span
            >
            <span
              class="border border-red-500 text-red-500 text-xs px-1 py-0.5 rounded-full"
              >Django</span
            >
            <span
              class="border border-orange-500 text-orange-500 text-xs px-1 py-0.5 rounded-full"
              >Python</span
            >
          </div>

          <a
            href="https://github.com/BluFin-Designs/Invox-App"
            class="block mt-14 w-full px-4 py-2 bg-[#a797dd] text-white rounded hover:bg-[#ffcf9d] transition duration-300 text-center"
          >
            View Project
          </a>
        </div>
      </div>
      <div
        class="bg-white rounded-lg shadow-lg overflow-hidden transform transition-transform duration-300 hover:scale-105"
      >
        <img
          src="invox-banner.png"
          alt="Task Management App"
          class="w-full h-auto object-cover"
        />
        <div class="p-4">
          <h3 class="text-xl font-semibold text-[#635985] mb-2">
            Task Management App
          </h3>
          <p class="text-gray-600 mb-4">
            A mobile task management application with Flutter and Django.
          </p>

          <!-- Tags for languages and frameworks -->
          <div class="flex space-x-2 mb-4">
            <span
              class="border border-green-500 text-green-500 text-xs px-1 py-0.5 rounded-full"
              >Flutter</span
            >
            <span
              class="border border-red-500 text-red-500 text-xs px-1 py-0.5 rounded-full"
              >Django</span
            >
            <span
              class="border border-orange-500 text-orange-500 text-xs px-1 py-0.5 rounded-full"
              >Python</span
            >
          </div>

          <a
            href="https://github.com/BluFin-Designs/Invox-App"
            class="block mt-12 w-full px-4 py-2 bg-[#a797dd] text-white rounded hover:bg-[#ffcf9d] transition duration-300 text-center"
          >
            View Project
          </a>
        </div>
      </div>
      <div
        class="bg-white rounded-lg shadow-lg overflow-hidden transform transition-transform duration-300 hover:scale-105"
      >
        <img
          src="api-illustration.jpg"
          alt="Social Media Dashboard"
          class="w-full h-auto object-cover"
        />
        <div class="p-4">
          <h3 class="text-xl font-semibold text-[#635985] mb-2">
            Social Media Dashboard
          </h3>
          <p class="text-gray-600 mb-4">
            Responsive social media analytics dashboard using Angular and Spring
            Boot.
          </p>
          <!-- Tags for languages and frameworks -->
          <div class="flex space-x-2 mb-4">
            <span
              class="border border-green-500 text-green-500 text-xs px-1 py-0.5 rounded-full"
              >Flutter</span
            >
            <span
              class="border border-red-500 text-red-500 text-xs px-1 py-0.5 rounded-full"
              >Django</span
            >
            <span
              class="border border-orange-500 text-orange-500 text-xs px-1 py-0.5 rounded-full"
              >Python</span
            >
          </div>

          <a
            href="https://github.com/BluFin-Designs/Invox-App"
            class="block w-full px-4 py-2 bg-[#a797dd] text-white rounded hover:bg-[#ffcf9d] transition duration-300 text-center"
          >
            View Project
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
