<div class="flex flex-col mt-24 items-center sm:mb-18 mb-8 sm:mx-32 mx-2">
  <p class="uppercase text-xl font-bold mb-12 tracking-22p">My Amazing Projects</p>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 sm:gap-8 p-4 w-full">

    <!-- Project 1 -->
    <div class="bg-secondaryBlueDark bg-opacity-50 p-6 shadow-lg transition-all duration-300 hover:scale-105 hover:bg-opacity-80 cursor-pointer">
      <div class="flex items-center justify-between">
        <h2 class="text-xl font-semibold text-accentColor">Hrelix - Hr Management Backend</h2>
        <img src="springboot-icon.svg" alt="Spring Icon" class="w-12 h-12">
      </div>
      <p class="mt-3 text-sm">Hrelix - Hr Management Backend System designed using Spring Boot, Java & PostgreSQL, Utilizing the power of Spring Security and Spring Data JPA.</p>
      <p class="mt-3 text-sm">Deployed on AWS EC2 instance using the effectiveness of Docker for smooth and consistent deployment.
        The Solution Architect is made resilient and robust using cutting edge modern tools and technologies</p>
      <div class="mt-4 flex justify-between items-center">
        <a href="http://hrelix.blufin.co.in/" class="px-4 py-2 bg-accentColor text-white font-semibold rounded-lg shadow-md hover:bg-[#D93C50] transition">
          View Project
        </a>
        <a href="https://github.com/abhijeet-Bh/hrelix" class="text-accentColor font-semibold hover:underline">GitHub</a>
      </div>
    </div>

    <!-- Project 2 -->
    <div class="bg-secondaryBlueDark bg-opacity-50 p-6 shadow-lg transition-all duration-300 hover:scale-105 hover:bg-opacity-80 cursor-pointer">
      <div class="flex items-center justify-between">
        <h2 class="text-xl font-semibold text-accentColor">Invox - Expanse Tracking Mobile App</h2>
        <img src="flutter-icon.svg" alt="Project 2 Icon" class="w-12 h-12">
      </div>
      <p class="mt-3 text-sm">An app that enables you to effortlessly track your expenses and savings. </p>
      <p class="mt-3 text-sm">Designed to put your financial account and spending insights right at your fingertips, this app simplifies managing your money while helping you achieve your savings goals.</p>
      <div class="mt-14 flex justify-between items-center">
        <a href="https://github.com/BluFin-Designs/Invox-App" class="px-4 py-2 bg-accentColor text-white font-semibold rounded-lg shadow-md hover:bg-[#D93C50] transition">
          View Project
        </a>
        <a href="https://github.com/BluFin-Designs/Invox-App" class="text-accentColor font-semibold hover:underline">GitHub</a>
      </div>
    </div>

    <!-- Project 3 -->
    <div class="bg-secondaryBlueDark bg-opacity-50 p-6 shadow-lg transition-all duration-300 hover:scale-105 hover:bg-opacity-80 cursor-pointer">
      <div class="flex items-center justify-between">
        <h2 class="text-xl font-semibold text-accentColor">TravlPoint - Travel Planning App and Website</h2>
        <img src="flutter-icon.svg" alt="Project 3 Icon" class="w-12 h-12">
      </div>
      <p class="mt-3 text-sm">TravlPoint is an innovative AI-driven platform designed to simplify travel planning.</p>
      <p class="mt-3 text-sm">It curates personalized trip itineraries based on user preferences, offering flexibility, real-time recommendations, and seamless booking options. Whether you're a solo traveler or planning a group vacation, TravlPoint ensures a hassle-free and optimized travel experience. </p>
      <div class="mt-4 flex justify-between items-center">
        <a href="https://play.google.com/store/apps/details?id=com.app.travlpoint" class="px-4 py-2 bg-accentColor text-white font-semibold rounded-lg shadow-md hover:bg-[#D93C50] transition">
          Mobile App
        </a>
        <a href="https://www.travlpoint.com/" class="text-accentColor font-semibold hover:underline">WebSite</a>
      </div>
    </div>

  </div>
</div>
<footer class="py-4 bg-secondaryBlueDark bg-opacity-30 text-primaryBlueLight text-center">
  <p>&copy; 2025, Abhijeet Bhardwaj</p>
</footer>

