<div class="flex flex-col mt-24 items-center sm:mb-18 mb-8 mx-2 lg:mx-24">
  <p appScrollAnimate class="uppercase text-xl font-bold mb-8 tracking-22p">My Amazing Projects</p>
  <hr class="w-20 border-t-2 border-accentColor">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 lg:gap-8 p-4 w-full mt-8">

    <!-- Project 1 -->
    <div appScrollAnimate [delay]="100" class="bg-secondaryBlueDark bg-opacity-50 p-6 shadow-lg transition-all duration-300 hover:scale-105 hover:bg-opacity-80 cursor-pointer">
      <div class="flex items-center justify-between">
        <h2 class="text-xl font-semibold text-accentColor">Hrelix - Hr Management Backend</h2>
        <img src="springboot-icon.svg" alt="Spring Icon" class="w-12 h-12">
      </div>
      <p class="mt-3 text-sm">Hrelix - Hr Management Backend System designed using <span class="text-accentColor font-bold">Spring Boot, Java & PostgreSQL</span>, Utilizing the power of <span class="text-accentColor font-bold">Spring Security</span> and <span class="text-accentColor font-bold">Spring Data JPA.</span></p>
      <p class="mt-3 text-sm"><span class="text-accentColor font-bold">Deployed on AWS EC2</span> instance using the effectiveness of <span class="text-accentColor font-bold">Docker</span> for smooth and consistent deployment.
        The Solution Architect is made resilient and robust using cutting edge modern tools and technologies</p>
      <div class="mt-4 flex justify-between items-center">
        <a href="http://hrelix.blufin.co.in/" class="px-4 py-2 bg-accentColor text-white font-semibold rounded-lg shadow-md hover:bg-[#D93C50] transition">
          View Project
        </a>
        <a href="https://github.com/abhijeet-Bh/hrelix" class="text-accentColor font-semibold hover:underline">GitHub</a>
      </div>
    </div>

    <!-- Project 2 -->
    <div appScrollAnimate [delay]="200" class="bg-secondaryBlueDark bg-opacity-50 p-6 shadow-lg transition-all duration-300 hover:scale-105 hover:bg-opacity-80 cursor-pointer">
      <div class="flex items-center justify-between">
        <h2 class="text-xl font-semibold text-accentColor">Invox - Expanse Tracking Mobile App</h2>
        <img src="flutter-icon.svg" alt="Project 2 Icon" class="w-12 h-12">
      </div>
      <p class="mt-3 text-sm">An app that enables you to effortlessly <span class="text-accentColor font-bold">track your expenses</span> and <span class="text-accentColor font-bold">savings</span>. </p>
      <p class="mt-3 text-sm">Designed to put your financial account and spending insights right at your fingertips, this app simplifies <span class="text-accentColor font-bold">managing your money</span> while helping you achieve your savings goals.</p>
      <div class="mt-14 flex justify-between items-center">
        <a href="https://github.com/BluFin-Designs/Invox-App" class="px-4 py-2 bg-accentColor text-white font-semibold rounded-lg shadow-md hover:bg-[#D93C50] transition">
          View Project
        </a>
        <a href="https://github.com/BluFin-Designs/Invox-App" class="text-accentColor font-semibold hover:underline">GitHub</a>
      </div>
    </div>

    <!-- Project 3 -->
    <div appScrollAnimate [delay]="300" class="bg-secondaryBlueDark bg-opacity-50 p-6 shadow-lg transition-all duration-300 hover:scale-105 hover:bg-opacity-80 cursor-pointer">
      <div class="flex items-center justify-between">
        <h2 class="text-xl font-semibold text-accentColor">TravlPoint - Travel Planning MobileApp and Website</h2>
        <img src="flutter-icon.svg" alt="Project 3 Icon" class="w-12 h-12">
      </div>
      <p class="mt-3 text-sm">TravlPoint is an innovative <span class="text-accentColor font-bold">AI-driven</span> platform designed to <span class="text-accentColor font-bold">simplify travel planning</span>.</p>
      <p class="mt-3 text-sm">It curates <span class="text-accentColor font-bold">personalized trip itineraries</span> based on user preferences, offering flexibility, real-time recommendations, and <span class="text-accentColor font-bold">seamless booking options</span>. Whether you're a solo traveler or planning a group vacation, TravlPoint ensures a hassle-free and optimized travel experience. </p>
      <div class="mt-4 flex justify-between items-center">
        <a href="https://play.google.com/store/apps/details?id=com.app.travlpoint" class="px-4 py-2 bg-accentColor text-white font-semibold rounded-lg shadow-md hover:bg-[#D93C50] transition">
          Mobile App
        </a>
        <a href="https://www.travlpoint.com/" class="text-accentColor font-semibold hover:underline">WebSite</a>
      </div>
    </div>

  </div>
</div>
<footer class="py-4 bg-secondaryBlueDark bg-opacity-30 text-primaryBlueLight text-center">
  <p>&copy; 2025, Abhijeet Bhardwaj</p>
</footer>

