<div class="flex flex-col items-center">
  <p class="uppercase text-xl font-bold mb-6 tracking-22p">Working With</p>
  <hr class="w-20 border-t-2 border-accentColor">
  <div class="w-full py-14 mt-8 space-x-2 sm:space-x-20 flex flex-row justify-center px-2 bg-secondaryBlueDark bg-opacity-30">
    <img src="java-icon.svg" alt="Logo" class="pl-2 sm:w-[70px] w-10"/>
    <img src="ts-icon.svg" alt="Logo" class="pl-2 sm:w-[70px] w-10"/>
    <img src="dart-icon.svg" alt="Logo" class="pl-2 sm:w-[70px] w-10"/>
    <img src="springboot-icon.svg" alt="Logo" class="pl-2 sm:w-[70px] w-10"/>
    <img src="angular-icon.svg" alt="Logo" class="pl-2 sm:w-[70px] w-10"/>
    <img src="flutter-icon.svg" alt="Logo" class="pl-2 sm:w-[70px] w-10"/>
    <img src="docker-icon.svg" alt="Logo" class="pl-2 sm:w-[70px] w-10"/>
  </div>
</div>

